body {
  background-color: #EEEEEE;
  padding-top: 55px;  /* navbar固定のためpadding */
}
.navbar{
  font-weight: 300;
  border-bottom: 1px solid #cccccc;
}
.cover {
  background: url(images/cover-tiltshift.png);
  background-size: cover;
  background-position: 50% 50%;
  height: 300px;
  border-bottom: 1px solid #cccccc;
}
.Ycenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about{
  background-color: #17a2b8;
  padding: 0;
  color: #EEEEEE;
  border-bottom: 1px solid #cccccc;
  padding: 65px 0;
}
.works{
  background-color: #708090;
  padding: 0;
  color: #EEEEEE;
  border-bottom: 1px solid #cccccc;
  padding: 65px 0;
}
.links{
  background-color: #9999CC;
  padding: 0;
  color: #EEEEEE;
  border-bottom: 1px solid #cccccc;
  padding: 65px 0;
}
.fa-twitter{
  color:#BBFFFF	;
}
.fa-github{
  color:#CCCCCC;
}
.fa-small{
  font-size: 0.6em;
  margin-right: 4px;
}
.contact{
  background-color: #333333;
  color:#FFDDFF;
}