body {
  padding-top: 55px;  /* navbar固定のためpadding */
}
.navbar{
  font-weight: 300;
  border-bottom: 1px solid #cccccc;
}
.cover {
  background: url(images/cover-tiltshift.png);
  background-size: cover;
  background-position: 50% 50%;
  height: 350px;
  border-bottom: 1px solid #cccccc;
}
.just_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical_center{
  display: flex;
  align-items: center;
}
.bottom_line{
  display:inline-block;
  text-align:center;
  border-bottom: 2px ridge #FF9900;
}
.about{
  background-color: #17a2b8;
  padding: 0;
  color: #EEEEEE;
  /* border-bottom: 1px solid #cccccc; */
  padding-top: 65px;
}
.links{
  background-color: #17a2b8;
  padding: 0;
  color: #EEEEEE;
  border-bottom: 1px solid #cccccc;
  padding-top: 65px;
  padding-bottom: 65px;
}
.skill{
  background-color: #708090;
  padding: 0;
  color: #EEEEEE;
  border-bottom: 1px solid #cccccc;
  padding: 65px 0;
}
.works{
  background-color: #996666;
  padding: 0;
  color: #EEEEEE;
  border-bottom: 1px solid #cccccc;
  padding: 65px 0;
}

/* font awesome */
.fa-small{
  font-size: 0.6em;
  margin-right: 4px;
}
.nav-twi{
  color:#BBFFFF	;
}
.nav-github{
  color:#CCCCCC;
}
.fa-python{
  color:#FFCC33;
}
.fa-google{
  color:#3399FF;
}
.fa-file-code{
  color:#6699CC;
}
.fa-js-square{
  color:#CC99FF;
}
.fa-html5{
  color:#FF9900;
}
.fa-server{
  color: #17a2b8;
}
.fa-margin-right{
  margin-right: 6px;
}